.topbar{
    display: flex;
    justify-content: space-around;
    max-height: 100px;
}
#logo-1{
    font-size:50px;
    font-weight: bold;
    color: red;
    font-style: italic;
}
#logo-2{
    font-size:50px;
    font-weight: bold;
    color:#202C45;
    font-style: italic;
}
.main{
    padding-left: 2%;
    padding-right: 5%;
    display: flex;
    flex-direction:row;
    top: 5%;
    justify-content:space-between;
    
}
.header{
    background-color: #202c45;
    height: 100px;
}
.H-container{
    margin-top: 2.5%;
    display: flex;
    flex-direction:row;
    top: 5%;
    justify-content:space-evenly;
    width: 70%;

}
.words{
    font-size:medium;
    color: white;
    text-decoration: none;
}
.words:hover{
    color: red;
}
#btn{
    padding: 10px 30px 12px 30px;
    text-align: center; 
    margin-top: 18%;
    font-size: 16px;
    color: #000000;
    background: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}
#btn:hover,#btn-footer:hover{
    color: #ffffff;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #ff0000; 
}
#btn-footer{
    width: 100%;
    padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    background: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    
}
.footer-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #202C45;
}
.footer{
    
    height:px;
    display: flex;
    width:65%;
    flex-direction: row;
    justify-content: space-around;
    background-color: #202c45;
}
h3{
color: #202C45;
}
#footer-head{
    margin-top: 10%;
    color: #ff0000;
}


.form-main{
    width: 30%;
    justify-content: center;
    background-color: #202C45;
}
.footer-form{
    margin-left:30%;
    width:60%;
    margin-top: 25%;
    background-color: #202C45;
}
.footer-newsletter{
    width:100%;
}
.form-control{
    padding: 12px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    background: transparent;
    border-radius: 5px;
    outline:none;
    border-color:white;
}


.copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
    background-color: #202C45;
}

.copyright p {
    margin: 0;
    color: #ffffff;
}

.copyright p a {
    color: #E81C2E;
    font-weight: 700;
    letter-spacing: 1px;
}

.copyright p a:hover {
    color: #ffffff;
}

